*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/org/galacticware/griddle/keyboarddefinition/opensource
.kotlin/
.vscode/
/app/src/main/assets/prediction/language/french/
app/libs/messageasestylegesturedetector.aar
/MessageaseStyleGestureDetector/
